:root{
    --main-bg-color: #2874f0;
}
*{
    margin: 0px;
    padding: 0px;
}

header{
    background: var(--main-bg-color);
}
nav{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    margin-left: 100px;
}
.logo img{
    width: 75px;
    padding: 0 20px;
}
nav ul{   
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding: 0 23px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    font-weight: bold;
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    height: 23px;
    width: 293px;
    padding: 0px 10px;
}
.search-icon{
    display: flex;
    align-items: center;
}
.search-icon img{
    width: 32px;
    position: absolute;
    margin: 0 -33px;
}

.container{
    min-height: calc(100vh - 50px - 12vh);
}
.slider{
    overflow: hidden;
    /* margin: auto;
    width: 80vw;
    margin: 12px auto;
    animation: changeimage 10s linear infinite; */
    margin-top: 12px;
}
.slider:hover{
    cursor: pointer;
}
.slider figure{
    position: relative;
    margin: auto;
    width: 500%;
    margin: 0;
    left: 0;
    animation: changeimage 20s  infinite;
}
.slider img{
     height: 207px;
    /* width: 1013px;
    margin: 0 -70px; */ 
    width: 20%;
    float: left;
}
@keyframes changeimage{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
.card{
    /* background-color: rgb(177, 163, 163); */
    max-width: 100vw;
    margin: auto;
    /* border: 0.000000001px solid black; */
    /* padding-bottom: 5px; */
    border-radius: 2px;
    margin-top: 20px;
    box-shadow: -3px 2px 6px grey;
}
.card h2{
    font-weight: bolder;
    
}
.text-btn{
    margin-left: 12px;
    display: inline-flex;
    flex-direction: row;
}
.text-btn button{
    padding: 6px 18px;
    color: whitesmoke;
    background-color: var(--main-bg-color);
    /* border: 2px solid var(--main-bg-color); */
    cursor: pointer;
    text-align: center;
    margin: 19px 25px;
    height: 31px;
    font-weight: bold;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-items{
    display: inline-flex;
    /* margin: 0 5px;
    padding: 3px 4px; */
    justify-content: center;
    flex-direction: column;
    margin: 0 15px;
    margin-bottom: 14px;
}
.card-items:hover{
    cursor: pointer;
}
.lines{
    width: 92px;
}
.card-items img{
    height: 130px;
    width: 127x;
    box-shadow: -3px 2px 6px grey;
}
.card-items img:hover{
    height: 132px;
    cursor: pointer;
}
footer{
    background-color: #172337;
    color: white;
    height: 10vh;
}
footer ul{   
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
footer ul li{
    list-style: none;
    padding: 0 23px;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
footer ul li a:hover{
    font-weight: bold;
}
.payment img{
    height: 13px;
    margin-left: 12px;
    padding: 2px;
    border: 1px solid black;
    background-color: white;
    border-radius: 2px;
}
 footer .visa {
    padding: 0 5px;
    height: 17px;
}
footer .visa img{
    height: 13px;
}
footer .master-card{
    padding: 0 5px;
    height: 17px;
}
