.flex-all-center{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:sans-serif;
}
.btn{
    padding: 6px 18px;
    color: var(--main-bg-color);
    background-color: white;
    border: 2px solid var(--main-bg-color);
    cursor: pointer;
    text-align: center;
    margin: 9px 12px;
    height: 31px;
    font-weight: bold;
}

.my-2{
    margin: 20px 0;
}
.my-1{
    margin: 5px 0;
}
.my-3{
    text-decoration: line-through;
    font-size: medium;
    color: gray;
}
.discount{
    color: green;
}
.text-center{
    text-align: center;
}